<app-layout-home (countChange)="updateSize($event)" [size]="size">
  <router-outlet></router-outlet>


  <!-- <app-todo-list routerLink="/counters"></app-todo-list> -->
  <!-- <span>{{date | date}}</span>
<h2  appHighlight>Select Country</h2>
<select name="" id="" (change)="onChange($event)">
  <option [value]="product" *ngFor="let product of listProduct" >{{product}}</option>
</select>
<div [ngSwitch] = 'dropDownValue'>
  <ng-container *ngFor="let product of listProduct">
    <div class="" *ngSwitchCase="product">
      <p>This is content of {{product}}</p>
  </div>
  </ng-container>
</div> -->
</app-layout-home>
